# Ignore build folders
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore local environment files
.env
appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.Production.json
bin/Debug/net7.0/appsettings.Staging.json
bin/Debug/net7.0/appsettings.Test.json
bin/Debug/net7.0/appsettings.Local.json

# Ignore secrets or configuration files
appsettings.json
appsettings.*.json

# Ignore logs and database
*.log
*.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore other temporary files
*.tmp
*.bak

